
@font-face {
    font-family: 'Fira_Sans-Light';
    src: url('../fonts/Fira_Sans/FiraSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira_Sans-Regular';
    src: url('../fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira_Sans-SemiBold';
    src: url('../fonts/Fira_Sans/FiraSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Fira_Sans-LightItalic';
    src: url('../fonts/Fira_Sans/FiraSans-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Icon';
    src: url('../fonts/IconMoon.ttf') format('truetype');
}