// FONTS
$font-content: 16;
$font-micro: 0.75em;
$font-content-big: $font-content * 1.25; //20
$font-h3: $font-content-big * 1.5; //30
$font-h2: $font-h3 * 1.33334; //40
$font-h1: $font-h2 * 1.75; // 70
//FONTS FAMILY
//SPACING
$sUnit: 12.5px;
$sElem: $sUnit*4;